.product-details-card {
    color: white;
    border-radius: 0;
}

.related-products {
    display: flex;
}

.product-card {
    margin: 10px;
    padding: 10px;
    color: white;
}

.product-card mat-card-title {
    margin: 10px;
}